*{
margin: 0;
padding: 0;
font-family: sans-serif;
list-style: none;
box-sizing: border-box;
}
.header{
background-image: url(./images/Mask\ Group.png);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
max-width: 100%;
max-height: 800px           ;
height: 800px;
}
.btnheader{
width: 200px;
height: 50px;
border: none;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #9B51E0;
color: white;
font-weight: 600;
}
.btn2header{
width: 150px;
height: 40px;
border: none;
background-color: #404040;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
color: white;
font-weight: 700;
}
.divheader img {
width: 40px;
height: 40px;
}
.divheader h1{
font-size: 30px;
color: white;
}
.divheader{
display: flex;
gap: 50px;
margin-top: 60px;
}
.obshiydivheaeder{
display: flex;
justify-content: space-evenly;
}
.btndivheader{
display: flex;
gap: 20px;
}
.divimglogo{
margin-top: 30px;
}
.imgcaliann{
width: 450px;
height: 600px;
}
.obshiydiv2header{
display: flex;
justify-content: space-evenly;
align-items: center;
}
.divleftheader h1{
font-size: 40px;
color: white;
width: 400px;
}
.divleftheader p{
font-size: 20px;
width: 300px;
color: white;
}
.divleftheader button{
width: 150px;
height: 50px;
border: none;
background-color: #F2994A;
color: white;
border: 3px solid white;
border-radius: 20px;
font-size: 15px;
font-weight: 700;
}
.divleftheader{
display: flex;
flex-direction: column;
row-gap: 35px;
}
.card1ss1 h3{
width: 300px;
}
.card1ss1 h2{
background-color: #9B51E0;
padding: 10px;
width: 40px;
border-radius: 50%;
text-align: center;
margin-top: 10px;
}
.section1{
display: flex;
justify-content: space-evenly;
margin-top: 50px;
}
.zgss2 span{
color: #9B51E0;
font-size: 40px;
}
.zgss2{
font-size: 40px;
text-align: center;
margin-top: 100px;
}
.cardss2{
width: 230px;
height: 330px;
border-radius: 15px;
box-shadow: 0px 0px 10px rgba(190, 188, 188, 0.74);
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
justify-content: center;
row-gap: 30px;
}
.cardss2 img{
width: 130px;
border: 6px solid #F2994A;
border-radius: 50%;
}
.cardss2 h3{
width: 200px;
}
.obshiydivss2{
display: flex;
gap: 30px;
justify-content: center;
margin-top: 50px;
}
.card2ss2{
width: 230px;
height: 330px;
border-radius: 15px;
box-shadow: 0px 0px 10px rgba(190, 188, 188, 0.74);
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
justify-content: center;
row-gap: 30px;
}
.card2ss2 img{
width: 130px;
border: 6px solid #9B51E0;
border-radius: 50%;
}
.card2ss2 h3{
width: 200px;
}
.divleftss3 h1{
font-size: 40px;
width: 200px;
}
.divleftss3 h1 span{
color: #9B51E0;
}
.section3{
margin-top: 150px;
display: flex;
justify-content: space-evenly;
}
.cardss3 button{
width: 150px;
height: 35px;
border: none;
background-color: rgba(186, 183, 183, 0.603);  
border-radius: 10px;
font-size: 17px;
font-weight: 700;  
}
.divrightss3{
display: flex;
flex-wrap: wrap;
width: 40%;
gap: 50px;
}
.cardss3 img{
width: 100px;
}
.cardss3{
display: flex;
flex-direction: column;
align-items: center;
}
.btnss3{
width: 600px;
height: 50px;
border: 4px solid white;
background-color: #F2994A;
color: white;
border-radius: 10px;
}
.divbtnss3{
display: flex;
justify-content: end;
margin-right: 260px;
margin-top: 20px;
}
.section4{
width: 90%;
height: 100px;
background-image: url(./images/Mask\ Group\ \(4\).png);
background-repeat: no-repeat;
background-size: cover;
margin: auto;
margin-top: 100px;
}
.section5{
height: 300px;
margin-top: 1000px;
}
.section4 h1{
color: white;
margin-top: 200px;
margin-left: 100px;
padding-top: 20px;
}
.section4 p{
color: white;
margin-left: 100px;
padding-top: 0px;
width: 450px;
}
@media (max-width : 510px) {
    .divimglogo img{
    width: 60px;
    }
    .btnheader{
    width: 150px;
    font-size: 10px;
    }
    .btn2header{
    width: 110px;
    }
    .obshiydivheaeder{
    flex-wrap: wrap;
    position: relative;
    }
    .divheader img{
    width: 30px;
    height: 30px;
    }
    .divheader h1{
    font-size: 20px;
    }
    .divheader{
    position: absolute;
    gap: 20px;
    left: 100px;
    }
    .obshiydiv2header{
    flex-direction: column;
    }
    .obshiydiv2header .divleftheader h1{
    font-size: 30px;
    width: 300px;
    margin-top: 50px;
    }
    .imgcaliann{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0px;
    bottom: 80px;
    }
    .header{
    height: 600px;
    }
    .section1{
    flex-wrap: wrap;
    row-gap: 30px;
    }
    .obshiydivss2{
    flex-wrap: wrap;
    }
    .section3{
    flex-direction: column;
    }
    .divleftss3 h1{
    width: 100%;
    }
    .divleftss3{
    display: flex;
    margin-left: 50px;
    }
    .divrightss3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    }
    .btnss3{
    width: 80%;
    height: 60px;
    }
    .divbtnss3{
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    }
    .section4{
    width: 90%;
    margin-top: -100px;
    }
    .section4 h1{
    width: 100%;
    margin-left: 20px;
    }
    .section4 p{
    margin-left: 20px;    
    }
}