*{
margin: 0;
padding: 0;
font-family: sans-serif;
list-style: none;
box-sizing: border-box;
}
.header{
background-image: url(./images/Mask\ Group.png);
background-size: cover;
background-repeat: no-repeat;
width: 100%;
max-width: 100%;
max-height: 800px           ;
height: 800px;
}
.btnheader{
width: 200px;
height: 50px;
border: none;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #9B51E0;
color: white;
font-weight: 600;
}
.btn2header{
width: 150px;
height: 40px;
border: none;
background-color: #404040;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
color: white;
font-weight: 700;
}
.divheader img {
width: 40px;
height: 40px;
}
.divheader h1{
font-size: 30px;
color: white;
}
.divheader{
display: flex;
gap: 50px;
margin-top: 60px;
}
.obshiydivheaeder{
display: flex;
justify-content: space-evenly;
}
.btndivheader{
display: flex;
gap: 20px;
}
.divimglogo{
margin-top: 30px;
}
.imgcaliann{
width: 450px;
height: 600px;
}
.obshiydiv2header{
display: flex;
justify-content: space-evenly;
align-items: center;
}
.divleftheader h1{
font-size: 40px;
color: white;
width: 400px;
}
.divleftheader p{
font-size: 20px;
width: 300px;
color: white;
}
.divleftheader button{
width: 150px;
height: 50px;
border: none;
background-color: #F2994A;
color: white;
border: 3px solid white;
border-radius: 20px;
font-size: 15px;
font-weight: 700;
}
.divleftheader{
display: flex;
flex-direction: column;
row-gap: 35px;
}
.card1ss1 h3{
width: 300px;
}
.card1ss1 h2{
background-color: #9B51E0;
padding: 10px;
width: 40px;
border-radius: 50%;
text-align: center;
margin-top: 10px;
}
.section1{
display: flex;
justify-content: space-evenly;
margin-top: 50px;
}
.zgss2 span{
color: #9B51E0;
font-size: 40px;
}
.zgss2{
font-size: 40px;
text-align: center;
margin-top: 100px;
}
.cardss2{
width: 230px;
height: 330px;
border-radius: 15px;
box-shadow: 0px 0px 10px rgba(190, 188, 188, 0.74);
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
justify-content: center;
row-gap: 30px;
}
.cardss2 img{
width: 130px;
border: 6px solid #F2994A;
border-radius: 50%;
}
.cardss2 h3{
width: 200px;
}
.obshiydivss2{
display: flex;
gap: 30px;
justify-content: center;
margin-top: 50px;
}
.card2ss2{
width: 230px;
height: 330px;
border-radius: 15px;
box-shadow: 0px 0px 10px rgba(190, 188, 188, 0.74);
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
justify-content: center;
row-gap: 30px;
}
.card2ss2 img{
width: 130px;
border: 6px solid #9B51E0;
border-radius: 50%;
}
.card2ss2 h3{
width: 200px;
}
.divleftss3 h1{
font-size: 40px;
width: 200px;
}
.divleftss3 h1 span{
color: #9B51E0;
}
.section3{
margin-top: 150px;
display: flex;
justify-content: space-evenly;
}
.cardss3 button{
width: 150px;
height: 35px;
border: none;
background-color: rgba(186, 183, 183, 0.603);  
border-radius: 10px;
font-size: 17px;
font-weight: 700;  
}
.divrightss3{
display: flex;
flex-wrap: wrap;
width: 40%;
gap: 50px;
}
.cardss3 img{
width: 100px;
}
.cardss3{
display: flex;
flex-direction: column;
align-items: center;
}
.btnss3{
width: 600px;
height: 50px;
border: 4px solid white;
background-color: #F2994A;
color: white;
border-radius: 10px;
}
.divbtnss3{
display: flex;
justify-content: end;
margin-right: 260px;
margin-top: 20px;
}
.section4{
width: 90%;
height: 100px;
background-image: url(./images/Mask\ Group\ \(4\).png);
background-repeat: no-repeat;
background-size: cover;
margin: auto;
margin-top: 100px;
}
.section4 h1{
color: white;
margin-top: 200px;
margin-left: 100px;
padding-top: 20px;
}
.section4 p{
color: white;
margin-left: 100px;
padding-top: 0px;
width: 450px;
}
.divzg h1{
font-size: 40px;
display: flex;
justify-content: center;
margin-top: 50px;
}
.divzg h1 span{
color: #9B51E0;
}
.cardss5 h2{
width: 300px;
text-align: center;
}
.cardss5 p{
width: 300px;
text-align: center;
} 
.cardss5 img{
width: 60px;
}
.cardss5{
display: flex;
flex-direction: column;
align-items: center;
width: 400px;
row-gap: 30px;
}
.obshiyss5{
display: flex;
gap: 50px;
justify-content: center;
margin-top: 50px;
}
.section-7{
    background-image: url(images/Mask\ Group\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 600px;
    width: 100%;
    color: white;
    margin-top: 100px;
}
.glavgap-sect7{
    text-align: center;
    padding-top: 100px;
}
.flex-krug-sect7{
    display: flex;
    flex-wrap: wrap;
    row-gap: 63px;
    justify-content: center;
    margin-top: 60px;
}
.krug-1{
    width: 74px;
    height: 74px;
    background-color: white;
    box-shadow: 0px 4px 30px #00000014;
    border-radius: 50%;
}
.krug-1 div img{
    margin-left: 15px;
    margin-top: 15px;
}
.p-sect7{
    width: 188px;
    font-size: 18px;
    font-weight: 700;
}
.safed-1{
    display: flex;
    gap: 20px;
    align-items: center;
}
.all-coment-sect7{
    display: flex;
    justify-content: space-evenly;
}
.coment-sect7{
    width: 300px;
    height: 160px;
    background-color: white;
    box-shadow: 0px 4px 30px #0000001A;
    border-radius: 15px;
    margin-top: 100px;
    display: flex;
    gap: 20px;
    padding: 30px;
}
.name-sect7{
    display: flex;
    flex-direction: column;
    color: #9B51E0;
    font-weight: 800;
}
.coment-sect7mm{
    width: 300px;
    height: 160px;
    background-color: white;
    box-shadow: 0px 4px 30px #0000001A;
    border-radius: 15px;
    margin-top: 100px;
    display: flex;
    gap: 20px;
    padding: 30px;
}

.section-8{
    margin-top: 250px;
}
.gap-sect8{
    text-align: center;
}
.all-card-sect8{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}
.card1-sect8{
    width: 386px;
    height: 545px;
    border: 1px solid #EAEAEA;
    border-radius: 15px;
}
.column-sect8{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    margin-top: 20px;
}
.klj{
    width: 326px;
    font-weight: 600;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
}
.narx-sect8{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    align-items: center;
}
.narxxx{
    font-size: 36px;
    font-weight: 700;
    color: #9B51E0;
}
.sale-sect8{
    font-size: 16px;
    font-weight: 500;
    color: #9B51E0;
}
.btn-sect8 button{
    width: 320px;
    height: 50px;
    background-color: #F2994A;
    color: white;
    font-weight: 700;
    text-align: center;
    border: 5px solid #EAEAEA;
    border-radius: 30px;
}
.btn-sect8{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.section-9{
    background-image: url(/images/Rectangle\ 40.png);
     background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 901px;
    width: 100%;
    margin-top: 100px;   
    padding-top: 80px; 
}
.registor{
    width: 594px;
    height: 845px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px #0000001A;
    border-radius: 15px;
    margin: auto; 
}
.glava-gap-sect9{
    text-align: center;
    color: #9B51E0;
    padding-top: 30px;
}
.input-sect9{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.input-sect9 input{
    width: 386px;
    height: 45px;
    border: 1px solid #DEDEDE;
    margin: auto;
    border-radius: 5px;
}
.input-sect9 hr{
    width: 386px;
    margin: auto;
    margin-top: 20px;
}
.moy-bor{
    width: 386px;
    height: 96px;
    background-color: white;
    box-shadow: 0px 4px 30px #0000001A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}
.column-sect9{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 30px;
    align-items: center;
}
.column-sect9 input{
    width: 386px;
    height: 45px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}
.column-sect9 textarea{
    width: 386px;
    height: 90px;
}
.btn-sect9 button{
     width: 380px;
    height: 50px;
    background-color: #F2994A;
    color: white;
    font-weight: 700;
    text-align: center;
    border: 5px solid #EAEAEA;
    border-radius: 30px;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 25px;
}
.section-10{
   background-image: url(/images/Rectangle\ 40.png);
     background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 901px;
    width: 100%;
    margin-top: 100px;
    padding-top: 80px;
    display: flex;
    align-items: flex-end;  
}
.registor2{
     width: 594px;
    height: 530px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px #0000001A;
    border-radius: 15px;
    margin: auto; 
   display: flex;
   flex-direction: column;
   justify-content: center;
}
@media (max-width : 510px) {
    .divimglogo img{
    width: 60px;
    }
    .btnheader{
    width: 150px;
    font-size: 10px;
    }
    .btn2header{
    width: 110px;
    }
    .obshiydivheaeder{
    flex-wrap: wrap;
    position: relative;
    }
    .divheader img{
    width: 30px;
    height: 30px;
    }
    .divheader h1{
    font-size: 20px;
    }
    .divheader{
    position: absolute;
    gap: 20px;
    left: 100px;
    }
    .obshiydiv2header{
    flex-direction: column;
    }
    .obshiydiv2header .divleftheader h1{
    font-size: 30px;
    width: 300px;
    margin-top: 50px;
    }
    .imgcaliann{
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0px;
    bottom: 80px;
    }
    .header{
    height: 600px;
    }
    .section1{
    flex-wrap: wrap;
    row-gap: 30px;
    }
    .obshiydivss2{
    flex-wrap: wrap;
    }
    .section3{
    flex-direction: column;
    }
    .divleftss3 h1{
    width: 100%;
    }
    .divleftss3{
    display: flex;
    margin-left: 50px;
    }
    .divrightss3{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    }
    .btnss3{
    width: 80%;
    height: 60px;
    }
    .divbtnss3{
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    }
    .section4{
    width: 90%;
    margin-top: -100px;
    }
    .section4 h1{
    width: 100%;
    margin-left: 20px;
    }
    .section4 p{
    margin-left: 20px;  
    width: 100%;  
    }
    .obshiyss5{
    flex-direction: column;
    row-gap: 70px;
    margin-top: 100px;
    }
        .flex-krug-sect7{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .safed-1{
        width: 45%;
    }

    .coment-sect7mm{
        display: none;
    }

    .p-sect7 p{
        width: 100px;
    }
    .section-7{
        height: 750px;
    }
    .coment-sect7{
        margin-top: -1px;
    }
    .img-calian-sect8 img{
        width: 220px;
    }
    .all-card-sect8{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .card1-sect8{
        width: 220px;
        height: auto;
    }
    .klj{
        width: 180px;
        padding-left: 15px;
    }
    .btn-sect8 button{
        width: 180px;
    }
    .registor{
        width: 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .btn-sect9{
        position: relative;
    }
    .btn-sect9 button{
        position: absolute;
        right: 50px;
    }
    .registor2{
        width: 500px;
    }
}